::-webkit-scrollbar {
	  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {		  
	background: grey; 
}
/* Handle */
::-webkit-scrollbar-thumb {
	  background: white; 
}	
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	  background: white; 
}
button:hover{
	background-color: #BBBBBB;
}
button {
    background-color: #EEEEEE;
	font-family: 'JetBrains Mono', monospace;
	font-size: 25;
	border: none;
	margin: 0px;
	height: 40px;
	padding: 0px;
	outline: none;
	user-select: none;
}
body {
	background-color: black;
	font-family: 'JetBrains Mono', monospace;
	line-height: 1.2;
	font-size: 18;
	overflow-x: hidden;
	color: white;
}
.writeableDiv{
	resize: none;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #888888;
}
.codewindow {
	float: right;
	position: relative;
	width: calc(100% - 35px);	
	top: 10px;
	
	outline: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
.lineNumber {
	float: left;
	background-color: #000000;
	position: relative;
	right: 5px;
	top: 10px;
	text-align: right;
	color: white;
	width: 35px;
 	margin: 0px;
	border: 0px;
	padding: 0px;
}
.visible{
	display: inline;
}
.invisible{
	display: none;
}
.derconsole {
	height: 100px;
	
	text-align: center;
	background-color: grey;
   	width: 100%;
	color: red;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
